<h1>MEOW - MEal Ordering Wow!</h1>

<table border=0 cellpadding=4>
  <tr>
    <th>Host</th>
	<th>Event</th>
    <th># Orders</th>
    <th>Date</th>
    <th>Restaurant</th>
  </tr>

<% @meals.each do |meal| %>
  <tr>
	<td align=center><%= meal.owner %></td>
    <td><%= link_to meal.name, meal %></td>
	<td align=center><%= meal.orders.count %></td>
    <td><%= meal.date %></td>
    <td><%= meal.restaurant %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meal', new_meal_path %>
